
<mat-card>
  <h5>Detalle del Viaje</h5>

  <mat-card style="width: 50%; margin-bottom: 10px">

    <h5>Editar datos del Viaje</h5>

    <form [formGroup] = tripForm (ngSubmit)="saveData()" novalidate>

      <div class="example-container">

        <mat-form-field>
          <input matInput placeholder="Origen" formControlName="departure">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Destino" formControlName="destination">
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="salida"
                 placeholder="Salida"
                 formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="salida"></mat-datepicker-toggle>
          <mat-datepicker #salida></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="llegada"
                 placeholder="Llegada"
                 formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="llegada"></mat-datepicker-toggle>
          <mat-datepicker #llegada ></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Colectivo</mat-label>
          <mat-select formControlName="bus">
            <mat-option *ngFor="let bus of buses"
                        [value]="bus">
              {{bus.licensePlate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button type="submit" [disabled]="tripForm.invalid">Guardar</button>

    </form>

  </mat-card>

  <h5>Pasajeros</h5>
    <table mat-table [dataSource]="passengers" class="mat-elevation-z8">

      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let person"> {{person.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let person"> {{person.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Edad </th>
        <td mat-cell *matCellDef="let person"> {{person.age}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</mat-card>
